{% raw %}
<h2>Profiles</h2>
<br/>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>E-mail</th>
      </tr>
    </thead>
    {{#vertical-collection
      tagName="tbody"
      content=model
      defaultHeight=39
      alwaysUseDefaultHeight=false
      containerSelector="body"
      as |user|
    }}
      <td>{{user.username}}</td>
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.email}}</td>
    {{/vertical-collection}}
  </table>
</div>
{% endraw %}
